/*
  1. Use a more-intuitive box-sizing model.
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.1;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  html {
    width: 100%;
  }

  :root {
    --text: #f7fafd;
    --background: #131c24;
    --primary: #7cbefc;
    --secondary: #292e33;
    --accent: #3c7cb9;
  }

  body {
    height: 100%;
    width: 100%;
    color: var(--text);
    background-color: var(--background);
  }

  .container {
    height: 100%;
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .current-weather {
    display: flex;
    max-width: 30%;
    flex-direction: column;
  }

  .current-time {
    font-size: clamp(2rem, 1.8rem, 2.5rem);
  }
  .current-location {
    font-size: clamp(2.8rem, 3.2rem, 4.5rem);
    font-weight: 700;
  }

  .current-temp {
    display: flex;
    align-items: center;
  }

  .current-scale {
    font-size: clamp(3.8rem, 4rem, 4.5rem);
  }

  .temp-scale {
    display: flex;
    margin-right: 1em;
  }

  .temp-scale  h3 {
    font-size: 200%;
  }
  .temp-img {
    font-size: 300%;
    color: var(--primary);
  }

  .current-weather-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  
  .details-card {
    display: flex;
    align-items: center;
  }

  .details-card  .temp-img {
    margin-right: 1rem;
  }
  
  .details_card_desc {
    font-weight: 300;
  }

  .details_card_val {
    font-weight: 900;
  }

  
  .forecast-weather {
    flex-grow: 1;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .week-forecast {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: .8rem;
  }

  .forecast-card {
    padding: .8rem 1.5rem;
    display: flex;
    background-color: var(--secondary);
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
  }

  .forecast-temp {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .forecast-icon {
    font-size: 200%;
    color: var(--primary);
  }

  .hour-forecast {
    background-color: var(--secondary);
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
    overflow-x: auto;

    display: flex;
    gap: 1rem;
}

  .hour-card {
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    flex-direction: column;
  }

  ::-webkit-scrollbar{
    height: 15px;
    width: 1px;
  }

  ::-webkit-scrollbar-thumb:horizontal{
      cursor: pointer;
      width: 1px;
      background: var(--accent);
      border-radius: 10px;
  }

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .current-weather {
    max-width: 100%;
  }

  .forecast-weather {
    max-width: 100%;
  }
  
}